@using Data.Models;
@model PagedStockMovementListViewModel

@{
    ViewData["Title"] = "Paged Stock Movement List";
}

<div class="mb-5">
    <h2 class="mb-3">Stock Movement Filter</h2>
    <form asp-action="PagedStockMovementList" method="get">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="stockCode">Stock Code</label>
                    <input type="text" class="form-control" id="stockCode" name="stockCode" value="10081 SİEMENS">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" value="2017-01-18">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" value="2017-02-09">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-4 w-100">Filter</button>
                </div>
            </div>
        </div>

        <input type="hidden" id="pageNumber" name="pageNumber" value="@(Model?.PagedData?.PageNumber ?? 1)" />

        @(Model?.PagedData?.PageNumber ?? 1)
    </form>
</div>

<div>
    <h2 class="mb-3">Stock Movements</h2>
    @if (Model != null && Model.PagedData.DataList != null && Model.PagedData.DataList.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Sira No</th>
                    <th>Islem Tur</th>
                    <th>Evrak No</th>
                    <th>Tarih</th>
                    <th>Giris Miktar</th>
                    <th>Cikis Miktar</th>
                    <th>Stok</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var movement in Model.PagedData.DataList)
                {
                    <tr>
                        <td>@movement.SiraNo</td>
                        <td>@movement.IslemTur</td>
                        <td>@movement.EvrakNo</td>
                        <td>@movement.Tarih</td>
                        <td>@movement.GirisMiktar</td>
                        <td>@movement.CikisMiktar</td>
                        <td>@movement.Stok</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">Data not found.</div>
    }
</div>

<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(Model.Filter.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("PagedStockMovementList", "Home", new
                    {
                        pageNumber = i,
                        stockCode = Model?.Filter.StockCode,
                        startDate = Model?.Filter.StartDate,
                        endDate = Model?.Filter.EndDate
                    })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>